<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar producto</title>
</head>
<body>

    <h1>Eliminar producto</h1>

    <p>
        ¿Estás seguro de que deseas desactivar
        <strong>{{ producto.nombre }}</strong>?
    </p>

    <form method="POST">
        {% csrf_token %}

        <button type="submit">Sí, desactivar producto</button>
    </form>

    <a href="{% url 'lista_productos' %}">
        Cancelar
    </a>

</body>
</html>